In [124]:
import pandas as pd
from typing import List
from ast import literal_eval
import copy
import json

from sentence_transformers import SentenceTransformer, util
from transformers import AutoTokenizer, AutoModel
from transformers import OwlViTProcessor, OwlViTForObjectDetection
from transformers import pipeline
from transformers import GPT2TokenizerFast

import torch

In [27]:
movies_metadata = pd.read_csv('./movie_meta/movies_metadata.csv', sep=",", dtype=str)
print(movies_metadata.shape)
movies_metadata.head()

(45466, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [20]:
import openai
openai_embedding_model = "text-embedding-ada-002"
openai.api_key = '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'

In [28]:
def get_embedding(text: str, model: str) -> List[float]:
    result = openai.Embedding.create(
      model=model,
      input=text)
    return result["data"][0]["embedding"]

In [25]:
movies_metadata['feature'] = movies_metadata['genres'] + " / " + movies_metadata['title'] + " / " + movies_metadata['overview']

In [33]:
print(movies_metadata.columns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [35]:
print(movies_metadata.shape)
movies_metadata.head()

(45466, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [37]:
movies_metadata = movies_metadata[['id', 'genres', 'title', 'overview', 'release_date']]
movies_metadata.head()

,id,genres,title,overview,release_date
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995-10-30
1,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,When siblings Judy and Peter discover an encha...,1995-12-15
2,15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,A family wedding reignites the ancient feud be...,1995-12-22
3,31357,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",1995-12-22
4,11862,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,Just when George Banks has recovered from his ...,1995-02-10

In [42]:
movies_metadata['genres'] = movies_metadata['genres'].apply(literal_eval)
movies_metadata.head()

,id,genres,title,overview,release_date
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995-10-30
1,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,When siblings Judy and Peter discover an encha...,1995-12-15
2,15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,A family wedding reignites the ancient feud be...,1995-12-22
3,31357,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",1995-12-22
4,11862,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,Just when George Banks has recovered from his ...,1995-02-10

In [44]:
def get_genre(x):
    names = [i['name'] for i in x]
    if len(names) > 3:
        names = names[:3]
    return " ".join(names)

In [45]:
movies_metadata['genres'] = movies_metadata['genres'].apply(lambda x : get_genre(x))
movies_metadata.head()

,id,genres,title,overview,release_date
0,862,Animation Comedy Family,Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995-10-30
1,8844,Adventure Fantasy Family,Jumanji,When siblings Judy and Peter discover an encha...,1995-12-15
2,15602,Romance Comedy,Grumpier Old Men,A family wedding reignites the ancient feud be...,1995-12-22
3,31357,Comedy Drama Romance,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",1995-12-22
4,11862,Comedy,Father of the Bride Part II,Just when George Banks has recovered from his ...,1995-02-10

In [49]:
movies_metadata = movies_metadata[movies_metadata['overview'].notnull()]
movies_metadata = movies_metadata[movies_metadata['title'].notnull()]
movies_metadata.isna().sum()

id               0
genres           0
title            0
overview         0
release_date    71
feature          0
dtype: int64

In [51]:
movies_metadata['feature'] = movies_metadata['genres'] + " / " + movies_metadata['title'] + " / " + movies_metadata['overview']

In [56]:
movies_metadata['openai_embeddings'] = movies_metadata['feature'].apply(lambda x : get_embedding(x, openai_embedding_model))

KeyboardInterrupt:

In [52]:
movies_metadata.head()

,id,genres,title,overview,release_date,feature
0,862,Animation Comedy Family,Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995-10-30,Animation Comedy Family / Toy Story / Led by W...
1,8844,Adventure Fantasy Family,Jumanji,When siblings Judy and Peter discover an encha...,1995-12-15,Adventure Fantasy Family / Jumanji / When sibl...
2,15602,Romance Comedy,Grumpier Old Men,A family wedding reignites the ancient feud be...,1995-12-22,Romance Comedy / Grumpier Old Men / A family w...
3,31357,Comedy Drama Romance,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",1995-12-22,Comedy Drama Romance / Waiting to Exhale / Che...
4,11862,Comedy,Father of the Bride Part II,Just when George Banks has recovered from his ...,1995-02-10,Comedy / Father of the Bride Part II / Just wh...

In [89]:
sampled_movies_metadata = movies_metadata.sample(n=30, random_state=42)
sampled_movies_metadata['openai_embeddings'] = sampled_movies_metadata['feature'].apply(lambda x: get_embedding(x, openai_embedding_model))

In [90]:
sampled_movies_metadata

,id,genres,title,overview,release_date,feature,openai_embeddings
18072,52799,Drama Romance,Undertow,An unusual ghost story set on the Peruvian sea...,2009-09-23,Drama Romance / Undertow / An unusual ghost st...,"[0.0044921999797225, -0.011455944739282131, 0...."
5076,24919,Horror,Burial Ground,Professor Ayres discovers a secret in an ancie...,1981-01-23,Horror / Burial Ground / Professor Ayres disco...,"[0.004474438261240721, -0.024151984602212906, ..."
40871,410634,Horror,Diggers,A couple hires a professional digger (undergro...,2016-08-11,Horror / Diggers / A couple hires a profession...,"[-0.0022556050680577755, -0.017040861770510674..."
7695,34847,Drama Comedy Romance,College,"To reconcile with his girlfriend, a bookish co...",1927-09-10,Drama Comedy Romance / College / To reconcile ...,"[-0.002379950135946274, -0.012533968314528465,..."
24381,33388,Mystery Thriller,Charlie Chan at Treasure Island,Charlie's investigation of a phony psychic dur...,1939-08-31,Mystery Thriller / Charlie Chan at Treasure Is...,"[0.015995198860764503, -0.036620937287807465, ..."
12902,43389,Romance Drama Music,Variety Lights,A beautiful and ambitious young woman joins a ...,1950-12-06,Romance Drama Music / Variety Lights / A beaut...,"[-0.010930399410426617, -0.04361636936664581, ..."
31351,179603,Crime Drama,Woman in the Dark,Lightweight but entertaining crime/drama about...,1934-11-08,Crime Drama / Woman in the Dark / Lightweight ...,"[0.008809912949800491, -0.02177027426660061, 0..."
32968,82939,Drama,Crab Trap,A drama set in the black communities of Colomb...,2010-03-12,Drama / Crab Trap / A drama set in the black c...,"[-0.007763803005218506, -0.022964099422097206,..."
42186,341006,Action Horror Thriller,The Belko Experiment,"In a twisted social experiment, a group of 80 ...",2016-03-17,Action Horror Thriller / The Belko Experiment ...,"[-0.03469862788915634, -0.01745446026325226, -..."
25063,114324,Drama Romance,Merry-Go-Round,"A nobleman, posing as a necktie salesman, fall...",1923-07-01,"Drama Romance / Merry-Go-Round / A nobleman, p...","[-0.023131469264626503, -0.028529243543744087,..."
25680,84729,Drama Action War,Casablanca Express,It is 1942 and the conflict between the U.S. a...,1989-12-22,Drama Action War / Casablanca Express / It is ...,"[-0.021394694223999977, -0.04643216356635094, ..."
32957,356149,Horror,Robert the Doll,In this chilling story based on real life even...,2015-08-24,Horror / Robert the Doll / In this chilling st...,"[-0.012218566611409187, -0.012087049894034863,..."
23350,105945,Action Drama Family,Memorial Day,"Memorial Day, 1993. When 13-year-old Kyle Voge...",2011-06-06,Action Drama Family / Memorial Day / Memorial ...,"[0.004414848517626524, -0.025061141699552536, ..."
41545,425498,Comedy,Michael Che Matters,"""SNL"" star Michael Che takes on hot-button top...",2016-11-25,"Comedy / Michael Che Matters / ""SNL"" star Mich...","[-0.00067787995794788, -0.04282055422663689, 0..."
9654,8968,Thriller Horror Drama,Boogeyman,Every culture has one – the horrible monster f...,2005-02-04,Thriller Horror Drama / Boogeyman / Every cult...,"[-0.009736050851643085, -0.020708223804831505,..."
42402,160799,TV Movie Science Fiction,The Stranger,TV series pilot (series never launched). After...,1973-02-26,TV Movie Science Fiction / The Stranger / TV s...,"[0.008444678969681263, -0.034748438745737076, ..."
44931,438634,Drama Family,Summer 1993,"After her mother's death, six-year-old Frida i...",2017-06-30,Drama Family / Summer 1993 / After her mother'...,"[0.004107571206986904, -0.03339717537164688, -..."
20787,81623,Drama,The Colors of the Mountain,A motley crew of young boys in Colombia lives ...,2011-04-27,Drama / The Colors of the Mountain / A motley ...,"[-0.001583761884830892, -0.018679415807127953,..."
10835,7483,Drama,Free Zone,"Rebecca, an American who has been living in Je...",2005-04-18,"Drama / Free Zone / Rebecca, an American who h...","[-0.003316614544019103, -0.0327925868332386, -..."
17291,94241,Drama War,Sundown,Englishmen fighting Nazis in Africa discover a...,1941-10-31,Drama War / Sundown / Englishmen fighting Nazi...,"[0.0012117673177272081, -0.02791288122534752, ..."
28512,38017,Drama Mystery Thriller,Letters From a Killer,A man is falsely convicted of the murder of hi...,1998-08-21,Drama Mystery Thriller / Letters From a Killer...,"[-0.00491067860275507, -0.018329767510294914, ..."
19997,64074,Documentary Foreign,Two in the Wave,An in-depth analysis of the relationship betwe...,2010-05-19,Documentary Foreign / Two in the Wave / An in-...,"[0.001222632941789925, -0.015538522973656654, ..."
27186,61950,Mystery Drama,The Fine Art of Love: Mine Ha-Ha,A group of young girls are brought up in a col...,2005-11-25,Mystery Drama / The Fine Art of Love: Mine Ha-...,"[0.0098879961296916, -0.030150283128023148, -0..."
17947,60981,Drama,My Joy,A routine run for a truck driver turns into a ...,2010-09-30,Drama / My Joy / A routine run for a truck dri...,"[0.011427387595176697, -0.022747665643692017, ..."
28754,28784,Crime Thriller,Hell Is a City,"Set in Manchester, heartland of England's indu...",1960-04-10,Crime Thriller / Hell Is a City / Set in Manch...,"[0.003969996236264706, -0.008802009746432304, ..."
9351,8325,Comedy Drama Romance,Tiptoes,A man is reluctant to tell his fiancee that hi...,2003-09-08,Comedy Drama Romance / Tiptoes / A man is relu...,"[0.011319544166326523, -0.05616719275712967, 0..."
34007,32286,Action Adventure Drama,From Mexico With Love,A washed-up trainer takes a self-destructive y...,2009-03-15,Action Adventure Drama / From Mexico With Love...,"[-0.016283102333545685, -0.02784646488726139, ..."
29101,228426,Comedy Fantasy,Jellyfish Eyes,"In present-day Japan, little Masashi moves fro...",2013-04-23,Comedy Fantasy / Jellyfish Eyes / In present-d...,"[0.014913670718669891, -0.01459692046046257, -..."
5886,26393,Comedy Drama Romance,Breaking Up,"An aloof, struggling food photographer thinks ...",1997-10-17,"Comedy Drama Romance / Breaking Up / An aloof,...","[0.012912004254758358, -0.018279917538166046, ..."
7616,1786,Drama War,Au Revoir les Enfants,A French boarding school run by priests seems ...,1987-10-06,Drama War / Au Revoir les Enfants / A French b...,"[0.016940293833613396, -0.0164314154535532, -0..."

In [66]:
## HuggingFace Embeddings

In [67]:
model = SentenceTransformer("sentence-transformers/distiluse-base-multilingual-cased-v2")

Downloading (…)6015c/.gitattributes: 100%|█████| 690/690 [00:00<00:00, 2.12MB/s]
Downloading (…)_Pooling/config.json: 100%|██████| 190/190 [00:00<00:00, 307kB/s]
Downloading (…)/2_Dense/config.json: 100%|██████| 114/114 [00:00<00:00, 258kB/s]
Downloading pytorch_model.bin: 100%|███████| 1.58M/1.58M [00:00<00:00, 16.7MB/s]
Downloading (…)ff6066015c/README.md: 100%|█| 2.38k/2.38k [00:00<00:00, 5.56MB/s]
Downloading (…)6066015c/config.json: 100%|█████| 610/610 [00:00<00:00, 2.22MB/s]
Downloading (…)ce_transformers.json: 100%|██████| 122/122 [00:00<00:00, 367kB/s]
Downloading pytorch_model.bin: 100%|█████████| 539M/539M [00:10<00:00, 50.5MB/s]
Downloading (…)nce_bert_config.json: 100%|████| 53.0/53.0 [00:00<00:00, 134kB/s]
Downloading (…)cial_tokens_map.json: 100%|██████| 112/112 [00:00<00:00, 276kB/s]
Downloading (…)6015c/tokenizer.json: 100%|█| 1.96M/1.96M [00:00<00:00, 3.91MB/s]
Downloading (…)okenizer_config.json: 100%|█████| 531/531 [00:00<00:00, 1.33MB/s]
Downloading (…)ff6066015c/vocab.txt: 100%|███| 996k/996k [00:00<00:00, 36.5MB/s]
Downloading (…)066015c/modules.json: 100%|██████| 341/341 [00:00<00:00, 838kB/s]

In [92]:
sampled_movies_metadata['hf_embeddings'] = sampled_movies_metadata['feature'].apply(lambda x : model.encode(x))

In [93]:
sampled_movies_metadata

,id,genres,title,overview,release_date,feature,openai_embeddings,hf_embeddings
18072,52799,Drama Romance,Undertow,An unusual ghost story set on the Peruvian sea...,2009-09-23,Drama Romance / Undertow / An unusual ghost st...,"[0.0044921999797225, -0.011455944739282131, 0....","[-0.057013914, -0.0516094, -0.04964045, -0.065..."
5076,24919,Horror,Burial Ground,Professor Ayres discovers a secret in an ancie...,1981-01-23,Horror / Burial Ground / Professor Ayres disco...,"[0.004474438261240721, -0.024151984602212906, ...","[0.024479369, 0.004915846, -0.0009956356, -0.0..."
40871,410634,Horror,Diggers,A couple hires a professional digger (undergro...,2016-08-11,Horror / Diggers / A couple hires a profession...,"[-0.0022556050680577755, -0.017040861770510674...","[0.00093503454, -0.008404745, 0.02351402, -0.0..."
7695,34847,Drama Comedy Romance,College,"To reconcile with his girlfriend, a bookish co...",1927-09-10,Drama Comedy Romance / College / To reconcile ...,"[-0.002379950135946274, -0.012533968314528465,...","[-0.015969675, -0.01511819, 0.0044489116, -0.0..."
24381,33388,Mystery Thriller,Charlie Chan at Treasure Island,Charlie's investigation of a phony psychic dur...,1939-08-31,Mystery Thriller / Charlie Chan at Treasure Is...,"[0.015995198860764503, -0.036620937287807465, ...","[-0.03663233, -0.05903723, -0.06781765, -0.053..."
12902,43389,Romance Drama Music,Variety Lights,A beautiful and ambitious young woman joins a ...,1950-12-06,Romance Drama Music / Variety Lights / A beaut...,"[-0.010930399410426617, -0.04361636936664581, ...","[-0.009094394, -0.044435732, -0.008827926, -0...."
31351,179603,Crime Drama,Woman in the Dark,Lightweight but entertaining crime/drama about...,1934-11-08,Crime Drama / Woman in the Dark / Lightweight ...,"[0.008809912949800491, -0.02177027426660061, 0...","[-0.07882274, -0.03610519, 0.041804746, -0.088..."
32968,82939,Drama,Crab Trap,A drama set in the black communities of Colomb...,2010-03-12,Drama / Crab Trap / A drama set in the black c...,"[-0.007763803005218506, -0.022964099422097206,...","[-0.009497647, -0.045342073, 0.038453892, -0.0..."
42186,341006,Action Horror Thriller,The Belko Experiment,"In a twisted social experiment, a group of 80 ...",2016-03-17,Action Horror Thriller / The Belko Experiment ...,"[-0.03469862788915634, -0.01745446026325226, -...","[-0.01828525, -0.04620517, 0.016618095, -0.056..."
25063,114324,Drama Romance,Merry-Go-Round,"A nobleman, posing as a necktie salesman, fall...",1923-07-01,"Drama Romance / Merry-Go-Round / A nobleman, p...","[-0.023131469264626503, -0.028529243543744087,...","[0.041196484, -0.0058729793, 0.0014187489, -0...."
25680,84729,Drama Action War,Casablanca Express,It is 1942 and the conflict between the U.S. a...,1989-12-22,Drama Action War / Casablanca Express / It is ...,"[-0.021394694223999977, -0.04643216356635094, ...","[-0.055553224, -0.059907485, -0.019157048, -0...."
32957,356149,Horror,Robert the Doll,In this chilling story based on real life even...,2015-08-24,Horror / Robert the Doll / In this chilling st...,"[-0.012218566611409187, -0.012087049894034863,...","[-0.04181497, 0.020553553, 0.046111196, -0.019..."
23350,105945,Action Drama Family,Memorial Day,"Memorial Day, 1993. When 13-year-old Kyle Voge...",2011-06-06,Action Drama Family / Memorial Day / Memorial ...,"[0.004414848517626524, -0.025061141699552536, ...","[-0.06456114, -0.0023846433, 0.00108128, -0.02..."
41545,425498,Comedy,Michael Che Matters,"""SNL"" star Michael Che takes on hot-button top...",2016-11-25,"Comedy / Michael Che Matters / ""SNL"" star Mich...","[-0.00067787995794788, -0.04282055422663689, 0...","[-0.05770617, -0.01995937, 0.03811743, -0.0398..."
9654,8968,Thriller Horror Drama,Boogeyman,Every culture has one – the horrible monster f...,2005-02-04,Thriller Horror Drama / Boogeyman / Every cult...,"[-0.009736050851643085, -0.020708223804831505,...","[-0.06541611, 0.008542878, 0.018126804, -0.042..."
42402,160799,TV Movie Science Fiction,The Stranger,TV series pilot (series never launched). After...,1973-02-26,TV Movie Science Fiction / The Stranger / TV s...,"[0.008444678969681263, -0.034748438745737076, ...","[-0.04294372, 0.023119023, 0.030132568, -0.037..."
44931,438634,Drama Family,Summer 1993,"After her mother's death, six-year-old Frida i...",2017-06-30,Drama Family / Summer 1993 / After her mother'...,"[0.004107571206986904, -0.03339717537164688, -...","[0.011062933, -0.028228095, 0.07142665, -0.014..."
20787,81623,Drama,The Colors of the Mountain,A motley crew of young boys in Colombia lives ...,2011-04-27,Drama / The Colors of the Mountain / A motley ...,"[-0.001583761884830892, -0.018679415807127953,...","[0.0155226225, -0.055118114, 0.023788152, -0.0..."
10835,7483,Drama,Free Zone,"Rebecca, an American who has been living in Je...",2005-04-18,"Drama / Free Zone / Rebecca, an American who h...","[-0.003316614544019103, -0.0327925868332386, -...","[0.0553371, 0.009060079, 0.09186327, -0.031145..."
17291,94241,Drama War,Sundown,Englishmen fighting Nazis in Africa discover a...,1941-10-31,Drama War / Sundown / Englishmen fighting Nazi...,"[0.0012117673177272081, -0.02791288122534752, ...","[-0.055721216, -0.012006376, 0.028093345, -0.0..."
28512,38017,Drama Mystery Thriller,Letters From a Killer,A man is falsely convicted of the murder of hi...,1998-08-21,Drama Mystery Thriller / Letters From a Killer...,"[-0.00491067860275507, -0.018329767510294914, ...","[-0.010144405, -0.010949906, 0.03998245, -0.06..."
19997,64074,Documentary Foreign,Two in the Wave,An in-depth analysis of the relationship betwe...,2010-05-19,Documentary Foreign / Two in the Wave / An in-...,"[0.001222632941789925, -0.015538522973656654, ...","[-0.058415454, -0.046745226, -0.058770984, -0...."
27186,61950,Mystery Drama,The Fine Art of Love: Mine Ha-Ha,A group of young girls are brought up in a col...,2005-11-25,Mystery Drama / The Fine Art of Love: Mine Ha-...,"[0.0098879961296916, -0.030150283128023148, -0...","[-0.00035453725, 0.0031380346, 0.010540266, -0..."
17947,60981,Drama,My Joy,A routine run for a truck driver turns into a ...,2010-09-30,Drama / My Joy / A routine run for a truck dri...,"[0.011427387595176697, -0.022747665643692017, ...","[-0.0027585872, -0.008763867, 0.090069085, -0...."
28754,28784,Crime Thriller,Hell Is a City,"Set in Manchester, heartland of England's indu...",1960-04-10,Crime Thriller / Hell Is a City / Set in Manch...,"[0.003969996236264706, -0.008802009746432304, ...","[0.017778702, -0.016725676, 0.0011308077, -0.0..."
9351,8325,Comedy Drama Romance,Tiptoes,A man is reluctant to tell his fiancee that hi...,2003-09-08,Comedy Drama Romance / Tiptoes / A man is relu...,"[0.011319544166326523, -0.05616719275712967, 0...","[-0.0380553, -0.049746115, 0.01945118, -0.0515..."
34007,32286,Action Adventure Drama,From Mexico With Love,A washed-up trainer takes a self-destructive y...,2009-03-15,Action Adventure Drama / From Mexico With Love...,"[-0.016283102333545685, -0.02784646488726139, ...","[-0.0135341855, -0.046955887, 0.036386386, -0...."
29101,228426,Comedy Fantasy,Jellyfish Eyes,"In present-day Japan, little Masashi moves fro...",2013-04-23,Comedy Fantasy / Jellyfish Eyes / In present-d...,"[0.014913670718669891, -0.01459692046046257, -...","[-0.07355564, -0.036319222, -0.039559897, -0.0..."
5886,26393,Comedy Drama Romance,Breaking Up,"An aloof, struggling food photographer thinks ...",1997-10-17,"Comedy Drama Romance / Breaking Up / An aloof,...","[0.012912004254758358, -0.018279917538166046, ...","[0.019881532, -0.06439962, -0.016113227, -0.05..."
7616,1786,Drama War,Au Revoir les Enfants,A French boarding school run by priests seems ...,1987-10-06,Drama War / Au Revoir les Enfants / A French b...,"[0.016940293833613396, -0.0164314154535532, -0...","[-0.035803724, -0.037296873, -0.0358895, -0.06..."

In [71]:
## Cosine Similiarity Implementation

## query로 어떤 정보를 받게 되면 model.encode에 데이터를 올려 query가 가지고 있는 embedding 정보를 가져오고,
## 위에서 구한 huggingface embedding과 유사도를 구하는 방법입니다.
## 마지막으로 torch.topk를 활용해 top 개수를 가져옵니다.

In [81]:
top_k = 5;
def get_query_sim_top_k(query, model, df, top_k):
    query_encode = model.encode(query)
    hf_embeddings_list = df['hf_embeddings'].tolist()
    cos_scores = util.pytorch_cos_sim(query_encode, hf_embeddings_list)[0]
    top_results = torch.topk(cos_scores, k=top_k)
    return top_results

# def get_query_sim_top_k(query, model, df, top_k):
#     query_encode = model.encode(query)
#     cos_scores = util.pytorch_cos_sim(query_encode, df['hf_embeddings'])[0]
#     top_results = torch.topk(cos_scores, k=top_k)
#     return top_results

In [103]:
query = "Are there any comedy drama?"
top_result = get_query_sim_top_k(query, model, sampled_movies_metadata, top_k);

In [104]:
top_result

torch.return_types.topk(
values=tensor([0.2881, 0.2555, 0.2427, 0.2401, 0.2071]),
indices=tensor([25, 28,  3, 13, 22]))

In [105]:
sampled_movies_metadata.iloc[top_result[1].numpy(), :][['title', 'overview', 'genres']]

,title,overview,genres
9351,Tiptoes,A man is reluctant to tell his fiancee that hi...,Comedy Drama Romance
5886,Breaking Up,"An aloof, struggling food photographer thinks ...",Comedy Drama Romance
7695,College,"To reconcile with his girlfriend, a bookish co...",Drama Comedy Romance
41545,Michael Che Matters,"""SNL"" star Michael Che takes on hot-button top...",Comedy
27186,The Fine Art of Love: Mine Ha-Ha,A group of young girls are brought up in a col...,Mystery Drama

In [108]:
query = "Are there any horror or thriller film?"
top_result = get_query_sim_top_k(query, model, sampled_movies_metadata, top_k);
sampled_movies_metadata.iloc[top_result[1].numpy(), :][['title', 'overview', 'genres']]

,title,overview,genres
9654,Boogeyman,Every culture has one – the horrible monster f...,Thriller Horror Drama
42186,The Belko Experiment,"In a twisted social experiment, a group of 80 ...",Action Horror Thriller
28754,Hell Is a City,"Set in Manchester, heartland of England's indu...",Crime Thriller
32957,Robert the Doll,In this chilling story based on real life even...,Horror
28512,Letters From a Killer,A man is falsely convicted of the murder of hi...,Drama Mystery Thriller

In [117]:
## ChatGPT를 활용해보자
def print_msg(msg):
    completion = openai.ChatCompletion.create(
                    model="gpt-3.5-turbo",
                    messages=msg
                    )
    return completion['choices'][0]['message']['content']

def get_chatgpt_msg(msg):
    completion = openai.ChatCompletion.create(
                    model="gpt-3.5-turbo",
                    messages=msg
                    )
    return completion['choices'][0]['message']['content']

In [110]:
messages = [
    {"role": "system", "content": "You are a helpful assistant who understands the intent of the user's question and provides recommendations based on the context."},
    {"role": "user", "content": "Considering the context: 'tell me about Instagram', which category best fits the following response? Please choose between 'description' and 'recommended'. \n Response: "}
]
print_msg(messages)

'Description.'

In [111]:
messages = [
    {"role": "system", "content": "You are a helpful assistant who understands the intent of the user's question and provides recommendations based on the context."},
    {"role": "user", "content": "Considering the context: 'what apps are similiar to Instagram?', which category best fits the following response? Please choose between 'description' and 'recommended'. \n Response: "}
]
print_msg(messages)

'recommended'

In [112]:
messages = [
    {"role": "system", "content": "You are a helpful assistant who specializes in recommending contents."},
    {"role": "user", "content": "Based on the context, please provide a recommendation by adding a sentence before the context. \n Context: Recommend apps similar to Instagram."}
]
print_msg(messages)

'If you enjoy using Instagram and want to explore similar apps, here are some recommendations: \n\n- VSCO: A photo editing app with a social media aspect\n- Snapchat: Allows you to share pictures and videos with your friends for a limited time\n- TikTok: A video-sharing app with a strong social media component\n- Pinterest: A visual discovery and bookmarking platform\n- Flickr: A photo-sharing service with a strong community aspect.'

In [135]:
sampled_movies_metadata.iloc[top_result[1].numpy(), :][['title', 'overview', 'genres', 'hf_embeddings']]

,title,overview,genres,hf_embeddings
9654,Boogeyman,Every culture has one – the horrible monster f...,Thriller Horror Drama,"[-0.06541611, 0.008542878, 0.018126804, -0.042..."
42186,The Belko Experiment,"In a twisted social experiment, a group of 80 ...",Action Horror Thriller,"[-0.01828525, -0.04620517, 0.016618095, -0.056..."
28754,Hell Is a City,"Set in Manchester, heartland of England's indu...",Crime Thriller,"[0.017778702, -0.016725676, 0.0011308077, -0.0..."
32957,Robert the Doll,In this chilling story based on real life even...,Horror,"[-0.04181497, 0.020553553, 0.046111196, -0.019..."
28512,Letters From a Killer,A man is falsely convicted of the murder of hi...,Drama Mystery Thriller,"[-0.010144405, -0.010949906, 0.03998245, -0.06..."

In [163]:
## Message Prompts List: 추천, 설명, 의도 파악
msg_prompt = {
    'recom': {
        'system': "You are a helpful assistant who recommends movies based on user questions.",
        'user': "Provide a simple greeting starting with 'Of course!' and recommend movie items to users in one sentence.",
    },
    'desc': {
        'system': "You are a helpful assistant who provides kind and informative answers.",
        'user': "Write a simple greeting starting with 'Of course!' and explain the movie item to the user in one sentence.",
    },
    'intent': {
        'system': "You are a helpful assistant who understands the intent of the user's question.",
        'user': "Determine which category the sentence below belongs to: 'description', 'recommended', or 'search'. Show only categories. \n Context:",
    }
}
msg_prompt

{'recom': {'system': 'You are a helpful assistant who recommends movies based on user questions.',
  'user': "Provide a simple greeting starting with 'Of course!' and recommend movie items to users in one sentence."},
 'desc': {'system': 'You are a helpful assistant who provides kind and informative answers.',
  'user': "Write a simple greeting starting with 'Of course!' and explain the movie item to the user in one sentence."},
 'intent': {'system': "You are a helpful assistant who understands the intent of the user's question.",
  'user': "Determine which category the sentence below belongs to: 'description', 'recommended', or 'search'. Show only categories. \n Context:"}}

In [164]:
## 1. 사용자가 마블 히어로 영화와 비슷한 영화를 추천해달라고 요청
## 2. ChatGPT는 가장 먼저, 해당 질문(query)이 추천을 원하는 것인지, 설명을 원하는 것인지 등 의도(intent)를 파악
## 3. 추천(recommend)를 원하는 것으로 ChatGPT가 파악해서, recommend 로직을 타게 됨
## 4. recommend 로직은 가장 먼저 사용자의 질문(query)을 model.encode로 huggingface embedding vector로 변환
## 5. 이후, query embedding과 다른 아이템들의 코사인 유사도를 계산해서 어떤 것이 가장 연관성 있는지 측정
## 6. 결과 출력. 이때 ChatGPT는 추천을 하기 위한 소개말을 작성해주고 그 뒤에 추천 된 콘텐츠가 덧붙여서 나옴

def set_prompt(intent, query, msg_prompt_init, model):
    '''prompt 형태를 만들어주는 함수'''
    m = dict()
    # 검색 또는 추천이면
    if ('recom' in intent) or ('search' in intent):
        msg = msg_prompt_init['recom'] # 시스템 메세지를 가지고오고
    # 설명문이면
    elif 'desc' in intent:
        msg = msg_prompt_init['desc'] # 시스템 메세지를 가지고오고
    # intent 파악
    else:
        msg = msg_prompt_init['intent']
        msg['user'] += f' {query} \n A:'
    for k, v in msg.items():
        m['role'], m['content'] = k, v
    return [m]

user_msg_history = []

def user_interact(query, model, msg_prompt_init):
    # 1. 사용자의 의도를 파악
    user_intent = set_prompt('intent', query, msg_prompt_init, None)
    user_intent = get_chatgpt_msg(user_intent).lower()
    print("user_intent : ", user_intent)
    
    # 2. 사용자의 쿼리에 따라 prompt 생성    
    intent_data = set_prompt(user_intent, query, msg_prompt_init, model)
    intent_data_msg = get_chatgpt_msg(intent_data).replace("\n", "").strip()
    print("intent_data_msg : ", intent_data_msg)
    
    # 3-1. 추천 또는 검색이면
    if ('recom' in user_intent) or ('search' in user_intent):
        recom_msg = str()
        # 기존에 메세지가 있으면 쿼리로 대체
        if (len(user_msg_history) > 0 ) and (user_msg_history[-1]['role'] == 'assistant'):
            query = user_msg_history[-1]['content']['feature']
        # 유사 아이템 가져오기
        #top_result = get_query_sim_top_k(query, model, sampled_movies_metadata, top_k=1 if 'recom' in user_intent else 3) # 추천 개수 설정하려면!
        top_result = get_query_sim_top_k(query, model, sampled_movies_metadata, top_k=3)
        #print("top_result : ", top_result)
        # 검색이면, 자기 자신의 컨텐츠는 제외
        top_index = top_result[1].numpy() if 'recom' in user_intent else top_result[1].numpy()[1:]
        #print("top_index : ", top_index)
        # 장르, 제목, overview를 가져와서 출력
        r_set_d = sampled_movies_metadata.iloc[top_index, :][['genres', 'title', 'overview']]
        r_set_d = json.loads(r_set_d.to_json(orient="records"))
        for r in r_set_d:
            for _, v in r.items():
                recom_msg += f"{v} \n"
            recom_msg += "\n"
        user_msg_history.append({'role' : 'assistant', 'content' : f"{intent_data_msg} {str(recom_msg)}"})
        print(f"\n recom data : {intent_data_msg} {str(recom_msg)}")
    # 3-2. 설명이면
    elif 'desc' in user_intent:
        # 이전 메세지에 따라서 설명을 가져와야 하기 때문에 이전 메세지 컨텐츠를 가져옴
        top_result = get_query_sim_top_k(user_msg_history[-1]['content'], model, sampled_movies_metadata, top_k=1)
        # feature가 상세 설명이라고 가정하고 해당 컬럼의 값을 가져와 출력
        r_set_d = sampled_movies_metadata.iloc[top_result[1].numpy(), :][['feature']]
        r_set_d = json.loads(r_set_d.to_json(orient="records"))[0]
        user_msg_history.append({'role' : 'assistant', 'content' : r_set_d})
        print(f"\n describe : {intent_data_msg} {r_set_d}")

In [122]:
## Optionally:

# import openai
# Function to handle user input
# def get_user_input(prompt):
#     user_input = input(prompt)
#     return user_input.strip()

# openai.api_key = "YOUR_API_KEY"  # supply your API key however you choose

# message = {
#     "role": "user",
#     "content": get_user_input("This is the beginning of your chat with AI. [To exit, send \"###\".]\n\nYou:"),
# }

# conversation = [{"role": "system", "content": "DIRECTIVE_FOR_gpt-3.5-turbo"}]

# while message["content"] != "###":
#     conversation.append(message)
#     completion = openai.ChatCompletion.create(
#         model="gpt-3.5-turbo", messages=conversation, max_tokens=150
#     )
#     assistant_response = completion.choices[0].message.content
#     print(f"Assistant: {assistant_response}")

#     message = {
#         "role": "user",
#         "content": get_user_input("You:"),
#     }

#     conversation.append(completion.choices[0].message)

In [165]:
query = "Please recommend a movie similar to a marvel heros movie."
user_interact(query, model, copy.deepcopy(msg_prompt))

user_intent :  recommended
intent_data_msg :  Of course! I would highly recommend trying some popcorn and soda while watching a movie.

 recom data : Of course! I would highly recommend trying some popcorn and soda while watching a movie. TV Movie Science Fiction
The Stranger
TV series pilot (series never launched). After a freak mishap, an astronaut finds himself on an almost precise copy of Earth (right down to the Plymouth cars). However, this planet has three moons, and is run by an Orwellian government called The Perfect Order, who seek out and crush all dissidents either by outright assassination or by having them treated at "Ward E." Hunted and alone, the story traces the astronaut's efforts to evade capture and return home.

Comedy Fantasy
Jellyfish Eyes
In present-day Japan, little Masashi moves from an evacuation center to a small village. There he will discover that every child has the ability to communicate with a fantastic creature, but they are being used in an evil plan to collect the children’s negative energy. Artist Takashi Murakami ‘s debut film is an amazing epic story that is an X-Ray of children’s hopes and fears with the artist’s unmistakable visual style.

Drama Comedy Romance
College
To reconcile with his girlfriend, a bookish college student tries to become an athlete.

In [166]:
# 1. 사용자가 더 자세히 설명해달라고 질문(query)를 던짐
# 2. ChatGPT는 이전 사용자 대화 이력을 참고하도록 assistant에 추가된 내용을 참고함
# 3. ChatGPT는 설명문이라는 사용자 의도(intent) 파악
# 4. 사용자가 질문한 것과 가장 유사한 콘텐츠를 추출(자기 자신이 나옴)
# 5. 설명문 출력

query = "Can you describe on the above, especially for The Stranger?"
user_interact(query, model, copy.deepcopy(msg_prompt))

user_intent :  description
intent_data_msg :  Of course! The movie item you requested is available for checkout at our store.

 describe : Of course! The movie item you requested is available for checkout at our store. {'feature': 'TV Movie Science Fiction / The Stranger / TV series pilot (series never launched). After a freak mishap, an astronaut finds himself on an almost precise copy of Earth (right down to the Plymouth cars). However, this planet has three moons, and is run by an Orwellian government called The Perfect Order, who seek out and crush all dissidents either by outright assassination or by having them treated at "Ward E." Hunted and alone, the story traces the astronaut\'s efforts to evade capture and return home.'}

In [167]:
user_msg_history

[{'role': 'assistant',
  'content': 'Of course! I would highly recommend trying some popcorn and soda while watching a movie. TV Movie Science Fiction \nThe Stranger \nTV series pilot (series never launched). After a freak mishap, an astronaut finds himself on an almost precise copy of Earth (right down to the Plymouth cars). However, this planet has three moons, and is run by an Orwellian government called The Perfect Order, who seek out and crush all dissidents either by outright assassination or by having them treated at "Ward E." Hunted and alone, the story traces the astronaut\'s efforts to evade capture and return home. \n\nComedy Fantasy \nJellyfish Eyes \nIn present-day Japan, little Masashi moves from an evacuation center to a small village. There he will discover that every child has the ability to communicate with a fantastic creature, but they are being used in an evil plan to collect the children’s negative energy. Artist Takashi Murakami ‘s debut film is an amazing epic story that is an X-Ray of children’s hopes and fears with the artist’s unmistakable visual style. \n\nDrama Comedy Romance \nCollege \nTo reconcile with his girlfriend, a bookish college student tries to become an athlete. \n\n'},
 {'role': 'assistant',
  'content': {'feature': 'TV Movie Science Fiction / The Stranger / TV series pilot (series never launched). After a freak mishap, an astronaut finds himself on an almost precise copy of Earth (right down to the Plymouth cars). However, this planet has three moons, and is run by an Orwellian government called The Perfect Order, who seek out and crush all dissidents either by outright assassination or by having them treated at "Ward E." Hunted and alone, the story traces the astronaut\'s efforts to evade capture and return home.'}}]

In [168]:
# 1. 사용자가 다른 영화는 없냐고 질문을 던짐
# 2. ChatGPT는 가장 먼저, 해당 질문(query)이 추천을 원하는 것인지, 설명을 원하는 것인지 등 의도(intent)를 파악
# 3. 추가 검색(search)를 원하는 것으로 ChatGPT가 파악해서, search 로직을 타게 됨
# 4. search 로직에 따라 chatgpt는 소개(또는 인사말)을 작성해줌
# 5. 사용자가 이전에 추천 받은 X-men과 비슷한 콘텐츠를 cosine similarity로 계산함
# 6. 결과 출력. 이때 ChatGPT는 추가 검색을 하기 위한 소개말을 작성해주고 그 뒤에 추천 된 콘텐츠가 덧붙여서 나옴

query = "Are there other movies that are similar to the ones like Comedy Fantasy?"
user_interact(query, model, copy.deepcopy(msg_prompt))

user_intent :  search
intent_data_msg :  Of course! If you're in the mood for a classic film, I highly recommend Casablanca, a romance set during World War II, or if you're craving action, check out John Wick, a thrilling revenge flick.

 recom data : Of course! If you're in the mood for a classic film, I highly recommend Casablanca, a romance set during World War II, or if you're craving action, check out John Wick, a thrilling revenge flick. Horror
Burial Ground
Professor Ayres discovers a secret in an ancient stone and when he opens a crypt, he revives zombies that kill him. He had invited three couples to visit him in his manor to reveal his discovery. However, they never get around to meeting the professor. Out of the blue, the zombies attack them and they seek shelter in the mansion.

Crime Drama
Woman in the Dark
Lightweight but entertaining crime/drama about a man (Ralph Bellamy) released from prison and deciding to stay alone in his cabin so that his bad temper won't get him back into prison.

In [162]:
## User tag
user_perfer_tag = ['science','war','horror']
top_result = get_query_sim_top_k(' '.join(user_perfer_tag), model, sampled_movies_metadata, top_k=3 )
sampled_movies_metadata.iloc[top_result[1].numpy(), :][['title', 'genres', 'overview']]

,title,genres,overview
5076,Burial Ground,Horror,Professor Ayres discovers a secret in an ancie...
24381,Charlie Chan at Treasure Island,Mystery Thriller,Charlie's investigation of a phony psychic dur...
42402,The Stranger,TV Movie Science Fiction,TV series pilot (series never launched). After...

In [ ]:
# 효율적인 Vector Search 방법, 사용자 과거 히스토리를 핸들링하는 방법 등 다양하게 확장할 수 있을 것
# Prompt의 output이 매번 달라지면서 데이터 셋에 맞지 않은 소개문이 나올 수도 있고 production 적용을 위해서는 여러 테스트와 검증이 필요함